:root {
  --player0-main-color: #55aa55;
  --player0-light-color: #ccffcc;
  --player1-main-color: #5678ff;
  --player1-light-color: #abcdff;
  --player2-main-color: #ff8754;
  --player2-light-color: #ffdc99;
  --player3-main-color: #ee4455;
  --player3-light-color: #ffaabb;
}

.rack {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  padding: 10px;
}

button {
  background: #555555;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 10px;
}

.currentPlayer0 .buttons button {
  background: var(--player0-main-color);
}

.currentPlayer1 .buttons button {
  background: var(--player1-main-color);
}

.currentPlayer2 .buttons button {
  background: var(--player2-main-color);
}

.currentPlayer3 .buttons button {
  background: var(--player3-main-color);
}

.tile {
  /*TODO: This border makes the animation skip a bit*/
  border: 1px solid #aaaaaa;
  background: #cccccc;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms ease;
  cursor: pointer;
}

.player0 .tile {
  border: 1px solid var(--player0-main-color);
  background: var(--player0-light-color);
}

.player1 .tile {
  border: 1px solid var(--player1-main-color);
  background: var(--player1-light-color);
}

.player2 .tile {
  border: 1px solid var(--player2-main-color);
  background: var(--player2-light-color);
}

.player3 .tile {
  border: 1px solid var(--player3-main-color);
  background: var(--player3-light-color);
}

.tile-enter {
  opacity: 0;
  transform: translateY(20px);
}

.tile-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.tile-exit {
  opacity: 1;
  transform: translateY(0);
}

.tile:hover{
  transform: rotate(-5deg);
}

.tile-exit-active, .tile.tile-exit-active:hover {
  opacity: 0;
  width: 0;
  margin: 0;
  transform: translateY(-20px);
  transition:
    opacity 400ms ease-out,
    transform 400ms ease-out,
    width 350ms ease 300ms,
    margin 350ms ease 300ms;
}
