.rack {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-between;
}
.tile {
  border: 1px solid #ffaaaa;
  background: #ffcccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  align: center;
  margin: 5px;
}
