.rack {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  padding: 10px;
}

.tile {
  /*TODO: This border makes the animation skip a bit*/
  border: 1px solid #ffaaaa;
  background: #ffcccc;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-enter {
  opacity: 0;
  transform: translateY(20px);
}

.tile-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.tile-exit {
  opacity: 1;
  transform: translateY(0);
}

.tile-exit-active {
  opacity: 0;
  width: 0;
  margin: 0;
  transform: translateY(-20px);
  transition:
    opacity 400ms ease-out,
    transform 400ms ease-out,
    width 350ms ease 300ms,
    margin 350ms ease 300ms;
}
